@import "mixins";

.root {
  width: 100%;
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  @include media(tablet) {
    background-color: #000;
    height: fit-content;
  }
  @include media(mobile) {
    background-color: #000;
    height: fit-content;
  }
  transition: box-shadow 0.5s;
}
.rootScrolled {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  @include media(tablet) {
    background-color: #000;
    height: fit-content;
  }
  @include media(mobile) {
    background-color: #000;
    height: fit-content;
  }
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  transition: box-shadow 0.5s;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  @extend .content;
  margin: auto;
  @include media(tablet) {
    padding: 20px 0;
  }
  @include media(mobile) {
    padding: 20px 0;
  }
}
.navRight {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  @include media(tablet) {
    display: none;
  }
  @include media(mobile) {
    display: none;
  }
}
.category {
  font-size: 16px;
  padding: 24px 20px;
  color: #000000;
  font-weight: 500;
  opacity: 1 !important;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}
.categoryActive {
  font-size: 16px;
  padding: 24px 20px;
  font-weight: 600;
  opacity: 1 !important;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  color: #588da8 !important;
}
.navLeft {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 0;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  @include media(tablet) {
    color: #fff !important;
    &:active {
    }
  }
  @include media(mobile) {
    color: #fff !important;
    &:active {
    }
  }
}
.menu {
  margin: 0;
  font-size: 20px;
  @include media(desktop) {
    display: none;
  }
  @include media(laptop) {
    display: none;
  }
}
.menuDropdown {
  @extend .content;
  text-align: left;
  z-index: 1;

  ul {
    list-style: none !important;
    padding: 0;
    li {
      padding: 5px 0;
      color: #fff;
    }
  }
  @include media(desktop) {
    display: none;
  }
  @include media(laptop) {
    display: none;
  }
}
